/***********************/
/* HEADER
/***********************/

.header {
  display: flex;

  height: 9.8rem;
  width: 100%;
  padding: 0 4.8rem;
  position: absolute;
  top: 0%;
  left: 0%;

  justify-content: space-between;
  align-items: center;
  gap: 4.8rem;
  background-color: rgba(0, 0, 0, 0);
}

.logo {
  height: 9.8rem;
}

/***********************/
/* NAVIGATION
/***********************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #f8f0eb;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
  display: inline-block;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #a26231;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #b46d36;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #a26231;
}

/***********************/
/* HERO
/***********************/

.hero-img-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100vh;
  position: relative;
}

.hero-img1 {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(../img/hero5.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.hero-img2 {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(../img/hero3.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.hero-img3 {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(../img/hero2.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.hero-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
  color: #f8f0eb;
}

/**********************************/
/* FEATURED IN (NOTED BY COMPANIES)
/**********************************/

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img,
.fodor {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/**********************************/
/* PHILOSOPHY (FEATURES)
/**********************************/

.section-philosophy {
  padding: 9.6rem 0;
}

.feature-icon {
  color: #b46d36;
  width: 3.2rem;
  height: 3.2rem;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
}

.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/**********************************/
/* STORY
/**********************************/

.section-story {
  padding: 9.6rem 0;
  background-color: #f8f0eb;
}

.story-img-box {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  height: 48rem;
}

.story-img-box img {
  display: block;
  width: 100%;
  height: 40%;
  transition: all 0.4s;
}

.story-img-box img:hover {
  transform: scale(1.1);
}

.story-text-description {
  font-size: 1.8rem;
  line-height: 1.8;
}
